In [1]:
%matplotlib inline

/Users/chouy/anaconda2/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
import pandas as pd
import sqlite3
import gzip

In [3]:
data = pd.read_csv('test.chr22.ann.vcf.gz', compression='gzip', header=None, comment='#', sep='\t', quotechar='"', error_bad_lines=False)
print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15414 entries, 0 to 15413
Data columns (total 8 columns):
0    15414 non-null int64
1    15414 non-null int64
2    15414 non-null object
3    15414 non-null object
4    15414 non-null object
5    15414 non-null object
6    15414 non-null object
7    15414 non-null object
dtypes: int64(2), object(6)
memory usage: 963.4+ KB
None
    0         1  2  3  4  5  6  \
0  22  17071756  .  T  C  .  .
1  22  17072035  .  C  T  .  .
2  22  17072258  .  C  A  .  .
3  22  17072674  .  G  A  .  .
4  22  17072747  .  T  C  .  .

                                                   7
0  ANN=C|downstream_gene_variant|MODIFIER|AC00694...
1  ANN=T|downstream_gene_variant|MODIFIER|AC00694...
2  ANN=A|downstream_gene_variant|MODIFIER|AC00694...
3  ANN=A|downstream_gene_variant|MODIFIER|AC00694...
4  ANN=C|downstream_gene_variant|MODIFIER|AC00694...

In [4]:
data.columns = ['CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO']
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15414 entries, 0 to 15413
Data columns (total 8 columns):
CHROM     15414 non-null int64
POS       15414 non-null int64
ID        15414 non-null object
REF       15414 non-null object
ALT       15414 non-null object
QUAL      15414 non-null object
FILTER    15414 non-null object
INFO      15414 non-null object
dtypes: int64(2), object(6)
memory usage: 963.4+ KB
None

In [5]:
import sqlite3

conn = sqlite3.connect('biopython.db')
curs = conn.cursor()
data.to_sql('chromosome', conn, if_exists='replace')

query = '''
SELECT CHROM, POS, ID, INFO 
FROM chromosome
'''

data2 = pd.read_sql(query, conn)

conn.commit()
curs.close()
conn.close()
print( data2.info())
print( data2.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15414 entries, 0 to 15413
Data columns (total 4 columns):
CHROM    15414 non-null int64
POS      15414 non-null int64
ID       15414 non-null object
INFO     15414 non-null object
dtypes: int64(2), object(2)
memory usage: 481.8+ KB
None
   CHROM       POS ID                                               INFO
0     22  17071756  .  ANN=C|downstream_gene_variant|MODIFIER|AC00694...
1     22  17072035  .  ANN=T|downstream_gene_variant|MODIFIER|AC00694...
2     22  17072258  .  ANN=A|downstream_gene_variant|MODIFIER|AC00694...
3     22  17072674  .  ANN=A|downstream_gene_variant|MODIFIER|AC00694...
4     22  17072747  .  ANN=C|downstream_gene_variant|MODIFIER|AC00694...

In [9]:
#chrom = 22
#term1 = 'downstream_gene_variant'
#term2 = 'MODIFIER'

conn = sqlite3.connect('biopython.db')
curs = conn.cursor()

query = '''
SELECT CHROM, POS, ID, INFO
FROM chromosome
WHERE CHROM = 22 AND INFO LIKE '%downstream_gene_variant%' AND INFO LIKE '%MODIFIER%' 
LIMIT 10
'''

data2 = pd.read_sql(query, conn)
print( data2.info())
print( data2.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
CHROM    10 non-null int64
POS      10 non-null int64
ID       10 non-null object
INFO     10 non-null object
dtypes: int64(2), object(2)
memory usage: 392.0+ bytes
None
   CHROM       POS ID                                               INFO
0     22  17071756  .  ANN=C|downstream_gene_variant|MODIFIER|AC00694...
1     22  17072035  .  ANN=T|downstream_gene_variant|MODIFIER|AC00694...
2     22  17072258  .  ANN=A|downstream_gene_variant|MODIFIER|AC00694...
3     22  17072674  .  ANN=A|downstream_gene_variant|MODIFIER|AC00694...
4     22  17072747  .  ANN=C|downstream_gene_variant|MODIFIER|AC00694...

In [10]:
data2.head(10)

   CHROM       POS ID                                               INFO
0     22  17071756  .  ANN=C|downstream_gene_variant|MODIFIER|AC00694...
1     22  17072035  .  ANN=T|downstream_gene_variant|MODIFIER|AC00694...
2     22  17072258  .  ANN=A|downstream_gene_variant|MODIFIER|AC00694...
3     22  17072674  .  ANN=A|downstream_gene_variant|MODIFIER|AC00694...
4     22  17072747  .  ANN=C|downstream_gene_variant|MODIFIER|AC00694...
5     22  17072781  .  ANN=T|downstream_gene_variant|MODIFIER|AC00694...
6     22  17073043  .  ANN=T|downstream_gene_variant|MODIFIER|AC00694...
7     22  17073066  .  ANN=G|downstream_gene_variant|MODIFIER|AC00694...
8     22  17073119  .  ANN=T|downstream_gene_variant|MODIFIER|AC00694...
9     22  17073131  .  ANN=T|downstream_gene_variant|MODIFIER|AC00694...

In [16]:
conn = sqlite3.connect('biopython.db')
curs = conn.cursor()

query = '''
SELECT CHROM, POS, ID, INFO
FROM chromosome
WHERE CHROM = 22 AND INFO LIKE '%HIGH%' 
LIMIT 10
'''

data2 = pd.read_sql(query, conn)
print( data2.info())
print( data2.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
CHROM    10 non-null int64
POS      10 non-null int64
ID       10 non-null object
INFO     10 non-null object
dtypes: int64(2), object(2)
memory usage: 392.0+ bytes
None
   CHROM       POS ID                                               INFO
0     22  18609087  .  ANN=C|stop_gained|HIGH|RIMBP3|ENSG00000275793|...
1     22  18609493  .  ANN=A|stop_gained|HIGH|RIMBP3|ENSG00000275793|...
2     22  19207533  .  ANN=C|frameshift_variant|HIGH|CLTCL1|ENSG00000...
3     22  19385634  .  ANN=A|stop_gained|HIGH|HIRA|ENSG00000100084|tr...
4     22  19964193  .  ANN=T|structural_interaction_variant|HIGH|COMT...

In [17]:
data2.head(10)

   CHROM       POS ID                                               INFO
0     22  18609087  .  ANN=C|stop_gained|HIGH|RIMBP3|ENSG00000275793|...
1     22  18609493  .  ANN=A|stop_gained|HIGH|RIMBP3|ENSG00000275793|...
2     22  19207533  .  ANN=C|frameshift_variant|HIGH|CLTCL1|ENSG00000...
3     22  19385634  .  ANN=A|stop_gained|HIGH|HIRA|ENSG00000100084|tr...
4     22  19964193  .  ANN=T|structural_interaction_variant|HIGH|COMT...
5     22  19964291  .  ANN=T|structural_interaction_variant|HIGH|COMT...
6     22  19968714  .  ANN=A|structural_interaction_variant|HIGH|COMT...
7     22  20113809  .  ANN=T|splice_acceptor_variant&intron_variant|H...
8     22  20127026  .  ANN=T|stop_gained|HIGH|RANBP1|ENSG00000099901|...
9     22  20457872  .  ANN=CA|frameshift_variant|HIGH|KLHL22|ENSG0000...